form(method="post")
 div
  div
    span Title:
    input(type="text", name="title", required=true)
    br
  div  
    span Description:
    textarea(name="description", rows=5, required=true) Please explain your request
    br
  div  
    span Git User Name  
    input(type="text", name="git", required=true)
    br

    input(type="submit")
