//
   Created by geo on 25/11/14.
H2 Sign In
form(method="post")
   span Email:
   input(type="email", name="email", required=true)
   br
   span Password:
   input(type="password", name="password", required=true)
   br
   input(type="submit")
