//
   Created by geo on 27/11/14.
extends layout
block content
         .navbar-wrapper
             .container
                nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
                    .navbar-header
                    a.navbar-brand(href='/slydr') Worker Home Page
                        .navbar-collapse.collapse
                           ul.nav.navbar-nav
                              li
                               a(href='/workers/#{user._id}/requests') Slides Requests
                              li
                               a(href='#') My Work
                              li
                               a(href='#') Statistics
                              li
                               a(href='/logout') Log out
                .jumbotron
                    P  Would you like to work on a new request ? create a presentation..
                    p
                        a.btn.btn-lg.btn-primary(href='/editors/', role='button') Go Now! &raquo
                     button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                         span.sr-only Toggle navigation
                         span.icon-bar
                         span.icon-bar
                         span.icon-bar
         .container
             .row
                 .col-md-4
                    h2 Latest Request
                    p
                        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    p
                        a.btn.btn-default(href='#', role='button') View details &raquo;
                 .col-md-4
                    h2 Latest Offer
                    p
                        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    p
                        a.btn.btn-default(href='#', role='button') View details &raquo;
                 .col-md-4
                    h2 Summary
                    p
                        | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    p